$standard-bumper: 1.875rem;

$light-grey: #efeee8;
$mid-grey: #cac9bc;
$dark-grey: #97967a;
$white: #fff;
$black: #333333;

$header-footer-height: 80px;
$nav-item-height: 60px;

$duration-mid: 400ms;
$duration-long: 600ms;