#application {
  @include transition(background-color $duration-long ease-in-out $duration-long, overflow $duration-long ease-in-out $duration-long);
  background-color: $light-grey;
  text-align: center;

  &.loaded {
    background-color: $white;

    nav {
      @include transition(right $duration-long ease-in-out 1s);
      right: 0;
    }
  }

  nav {
    right: -60px;
    display: none;
    @media #{$large-up} {
      display: block;
    }
    position: fixed;
    z-index: 1;
    width: $header-footer-height;

    .item {
      height: $nav-item-height;
      cursor: pointer;

      &:hover {
        .circle {
          background-color: $dark-grey;
        }
      }

      .circle {
        @include transition(background-color $duration-mid, ease-in-out);
        background-color: gainsboro;
        width: $nav-item-height / 4;
        height: $nav-item-height / 4;
        border-radius: $nav-item-height / 8;
        margin: 0 auto;
      }
    }
  }

  header, footer {
    height: $header-footer-height;
    width: 100%;
    background: $white;
    position: fixed;
    z-index: 1;
  }

  header {
    @include delay(600ms);
  }

  footer {
    @include delay(800ms);
    bottom: 0;
  }
}